* {
    margin: 10;

}
#fortune {
    position: absolute;
    font-family: monospace;
    font-size: 14px;
    top: 340px;
    left: 570px;
    color: black;
    /* background-color: blue; */
    margin-top: 20px;
    padding: 15px;
}

.center{
  position: absolute;
  width: 50%;
  height: 50%;
  transform: translate(-50% -50%);
  background-color: red;
}

.open{
  position: absolute;
  top: 90px;
  left: 230px;

}
